
<%
   last_day = 30
   yx_month_counts = ::UserSystem::CarUserInfo.where("tt_id is not null and tt_yaoyue = '成功' and tt_yaoyue_day >= ? and tt_yaoyue_day <= ?", Date.new(Date.today.year, Date.today.month, 1), Date.new(Date.today.year, Date.today.month, last_day)).count
   yx_hulei_month_counts = ::UserSystem::CarUserInfo.where("tt_id is not null and tt_yaoyue = '成功' and tt_yaoyue_day >= ? and tt_yaoyue_day <= ? and tt_source in ('23-23-4','23-23-5','23-23-1')", Date.new(Date.today.year, Date.today.month, 1), Date.new(Date.today.year, Date.today.month, last_day)).count
   yx_guongzheng_month_counts = ::UserSystem::CarUserInfo.where("tt_id is not null and tt_yaoyue = '成功' and tt_yaoyue_day >= ? and tt_yaoyue_day <= ? and tt_source in ('2-307-317')", Date.new(Date.today.year, Date.today.month, 1), Date.new(Date.today.year, Date.today.month, last_day)).count
  tj_month_counts = ::UserSystem::CarUserInfo.where("tt_id is not null  and tt_created_day >= ? and tt_created_day <= ?", Date.new(Date.today.year, Date.today.month, 1), Date.new(Date.today.year, Date.today.month, last_day)).count
%>
本月意向数：<%=yx_month_counts%> = <%=yx_hulei_month_counts%> + <%= yx_guongzheng_month_counts %>
<br/>
本月提交数：<%=tj_month_counts%>
<br/>
<%

   zyx_month_counts = ::UserSystem::CarUserInfo.where("tt_id is not null and tt_yaoyue = '成功'").count
   ztj_month_counts = ::UserSystem::CarUserInfo.where("tt_id is not null").count
%>
总意向数：<%=zyx_month_counts%>
<br/>
总提交数：<%=ztj_month_counts%>
<br/>
<table width="100%" class="table">
  <tr>
    <td width="29%">日期</td>
    <td width="17%">来源</td>
    <td width="18%">提交数</td>
    <td width="18%">成功数</td>
    <td width="18%">转化率</td>
  </tr>
  <%

     day_number = params[:d]||3
     0.upto(day_number.to_i) do |i|
       d = Date.today - i
       next if d < Date.new(2016, 2, 15)
       ['58', 'ganji', 'baixing', 'che168', 'taoche','zuoxi'].each do |source|

         tijiaoshu = UserSystem::CarUserInfo.where("tt_id is not null and site_name = ? and created_at > ? and created_at < ?", source,"#{d.chinese_format_day} 00:00:00", "#{d.chinese_format_day} 23:59:59").count
         chenggongshu = UserSystem::CarUserInfo.where("tt_id is not null and site_name = ? and tt_yaoyue = '成功' and tt_yaoyue_time > ? and tt_yaoyue_time < ?",source, "#{d.chinese_format_day} 00:00:00", "#{d.chinese_format_day} 23:59:59").count
         source_name = case source
                         when 'taoche'
                           '淘车'
                         when 'che168'
                           '168'
                         when '58'
                           '58'
                         when 'ganji'
                           '赶集'
                         when 'baixing'
                           '百姓'
                         when 'zuoxi'
                            '座席'
                       end
  %>


          <tr class=<%= if i%2 == 0 then '"yinying"' else 'noyinying' end%>>
            <td><%= d.chinese_format_day %></td>
            <td><%= source_name %></td>
            <td><%= tijiaoshu %></td>
            <td><%= chenggongshu %></td>
            <td><%= if tijiaoshu == 0 then 'NaN' else (((chenggongshu.to_f/tijiaoshu)*10000).to_i).to_f/100 end %>%</td>
          </tr>


      <%
         end%>

      <%
         all_tijiaoshu = UserSystem::CarUserInfo.where("tt_id is not null  and created_at > ? and created_at < ?", "#{d.chinese_format_day} 00:00:00", "#{d.chinese_format_day} 23:59:59").count
         all_chenggongshu = UserSystem::CarUserInfo.where("tt_id is not null  and tt_yaoyue = '成功' and tt_yaoyue_time > ? and tt_yaoyue_time < ?", "#{d.chinese_format_day} 00:00:00", "#{d.chinese_format_day} 23:59:59").count
      %>
      <tr class=<%= if i%2 == 0 then '"yinying"' else 'noyinying' end%>>
        <td><%= d.chinese_format_day %></td>
        <td>---</td>
        <td><%= all_tijiaoshu %></td>
        <td><%= all_chenggongshu %></td>
        <td><%= if all_tijiaoshu == 0 then 'NaN' else (((all_chenggongshu.to_f/all_tijiaoshu)*10000).to_i).to_f/100 end%>% </td>
      </tr>

  <%
     end%>

</table>

<style type="text/css">
    body, table {
        font-size: 12px;
    }

    table {
        table-layout: fixed;
        empty-cells: show;
        border-collapse: collapse;
        margin: 0 auto;
    }

    td {
        height: 30px;
    }

    h1, h2, h3 {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    .table {
        border: 1px solid #cad9ea;
        color: #666;
    }

    .table th {
        background-repeat: repeat-x;
        height: 30px;
    }

    .table td, .table th {
        border: 1px solid #cad9ea;
        padding: 0 1em 0;
    }

    .yinying {
        background-color: #f5fafe;
    }

    .noyinying {
        background-color: #FFFFFF;
    }
</style>
