<h1></h1>
<div class="row">
  <div class="columns small-12 text-right">
    <%= link_to '新建活动', new_cms_sale_system_market_activity_path, class: 'button tiny' %>
  </div>
</div>
<table>
  <thead>
  <tr>
    <th>名称</th>
    <th>场次</th>
    <th>日期</th>
    <th>已参加人数</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @market_activities.each do |market_activity| %>
      <tr>
        <td>
          <%= market_activity.name rescue '' %>
        </td>
        <td>
          <%= market_activity.market_activity_sessions.count rescue '' %>
        </td>
        <td>
          <%= market_activity.start_time.to_s(:db) rescue '' %>
        </td>
        <td>
          <%= market_activity.appointment_count %>
        </td>
        <td>
          <%= link_to "编辑", edit_cms_sale_system_market_activity_path(market_activity.id), target: "_blank" %>
          <% if market_activity.appointment_count == 0 %>
            <%= link_to( "删除", cms_sale_system_market_activity_path(market_activity.id), method: :delete, data: {confirm: "你确定删除吗？"} ) %>
          <% else %>
            <%= "删除" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
