<tr>

  <td><%=potential_customer.created_at.chinese_format %></td>
  <td><%=potential_customer.do_register_employee_name %></td>
  <td><%=potential_customer.sale_name %></td>
  <td><%=potential_customer.register_way %></td>
  <td><%=channel_label(potential_customer.channel) %></td>
  <td><%=potential_customer.student_name %></td>
  <td><%=potential_customer.dad_name %></td>
  <td><%= show_phone_of_customer potential_customer %></td>
  <td><%=potential_customer.last_track_time.chinese_format rescue ''%></td>
  <td><%=potential_customer.status_label %></td>

  <td>
    <%=link_to "修改", action: :edit, id: potential_customer.id %>
    <%=link_to "跟踪", action: :show, id: potential_customer.id %>
  </td>
</tr>

