<tr>
  <td>
    <%=query_customer.created_at.chinese_format %>
  </td>
  <td>
    <%=query_customer.sale_name %>
  </td>
  <td>
    <%=query_customer.register_way %>
  </td>
  <td>
    <%=channel_label(query_customer.channel) %>
  </td>
  <td>
    <%=query_customer.student_name %>
  </td>
  <td>
    <%=parent_name(query_customer) %>
  </td>
  <td>
    <%=potential_customer_phone_show(query_customer) %>
  </td>
  <td>
    <%=query_customer.last_track_time %>
  </td>

  <td>
    <%=query_customer.status_label %>
  </td>
  <td>
    <%=query_customer.notes %>
  </td>
  <td>
    <a href="/cms/sale_system/potential_customers/<%=query_customer.id%>" >查看</a>
  </td>
</tr>

