<%= page_title( '潜在客户的分配' ).html_safe %>
<!--
<div class="row">
  <div class="columns small-2 end text-left">
    <%= link_to '录入客户信息', new_cms_sale_system_potential_customer_path, class: 'button tiny' %>
  </div>
</div>
-->
<%= form_tag distribute_search_cms_sale_system_potential_customers_path, method: :post, id: 'distribution_form' do %>
<div class="row">
  <div class="columns small-1 text-right">
    <label>登记方式</label>
  </div>
  <div class="columns small-2">
    <%= select_tag 'register_way', options_from_collection_for_select( @register_ways, 'first', 'first', @register_way ), prompt: 'ALL', onchange: 'change_select_channels()' %>
  </div>
  <div class="columns small-1 text-right">
    <label>市场来源</label>
  </div>
  <div class="columns small-2" id="select_channel">
    <%= select_tag 'channel', options_from_collection_for_select( @channels, 'first', 'second', @channel ), prompt: 'ALL' %>
  </div>
  <div class="columns small-1 text-right">
    <label>姓名</label>
  </div>
  <div class="columns small-2">
    <%= text_field_tag 'name', @name %>
  </div>
  <div class="columns small-1 text-right">
    <label>电话</label>
  </div>
  <div class="columns small-2">
    <%= text_field_tag 'phone', @phone %>
  </div>
</div>
<div class="row">
  <div class="columns small-1 text-right">
    <label>客户类型</label>
  </div>
  <div class="columns small-2">
    <%= select_tag 'status', options_from_collection_for_select(@statuses, 'first', 'second', @status), prompt: 'ALL' %>
  </div>
  <div class="columns small-1 text-right">
    <label>在读状态</label>
  </div>
  <div class="columns small-2">
    <%= select_tag 'attend_status', options_from_collection_for_select(@attend_statuses, 'first', 'second', @attend_status), prompt: 'ALL' %>
  </div>
  <div class="columns small-1 text-right">
    <label>销售在职状态</label>
  </div>
  <div class="columns small-2">
    <%= select_tag 'sale_status', options_from_collection_for_select(@sale_statuses, 'first', 'second', @sale_status), prompt: 'ALL', onchange: 'change_select_sales()' %>
  </div>
  <div class="columns small-1 text-right">
    <label>销售顾问</label>
  </div>
  <div class="columns small-2" id="select_sale">
    <%= select_tag 'sale_id', options_from_collection_for_select(@sales, 'id', 'real_name', @sale_id), prompt: 'ALL' %>
  </div>
</div>
<div class="row">
  <div class="columns small-1 text-right">
    <label>未跟踪数据</label>
  </div>
  <div class="columns small-2">
    <%= select_tag 'days_not_track', options_from_collection_for_select(@days_select, 'first', 'second', @days_not_track), prompt: 'ALL' %>
  </div>
  <div class="columns small-1 text-right">
    <label>录入起始日期</label>
  </div>
  <div class="columns small-2">
    <%= date_field_tag 'register_time_start', @register_time_start %>
  </div>
  <div class="columns small-1 text-right">
    <label>录入结束日期</label>
  </div>
  <div class="columns small-2">
    <%= date_field_tag 'register_time_end', @register_time_end, prompt: '' %>
  </div>
  <div class="columns small-3 text-center end">
    <%= link_to '查询',"javascript:query_submit()", class: 'button tiny' %>
  </div>
</div>



<table role="grid">
  <thead>
    <th width="65">选择</th><th width="95">录入日期</th><th>录入人</th><th>当前顾问</th>
    <th>登记方式</th><th>市场来源</th><th>孩子姓名</th><th>家长姓名</th><th width="100">联系电话</th><th width="155">最后跟踪时间</th>
    <th>客户类型</th><th width="50">操作</th>
  </thead>
  <tbody>
    <% @potential_customers.each do |potential_customer| %>
        <tr>
            <td><%= check_box_tag "potential_customer_ids[]", potential_customer.id, false %></td>
            <td><%= potential_customer.register_time.to_date %></td>
            <td><%= potential_customer.do_register_employee_name %></td>
            <td><%= potential_customer.sale_name %></td>
            <td><%= potential_customer.register_way %></td>
            <td><%= @channels[potential_customer.channel] %></td>
            <td style="word-break:break-all"><%= potential_customer.student_name %></td>
            <td style="word-break:break-all"><%= parent_name potential_customer %></td>
            <td><%= potential_customer_phone_show potential_customer %></td>
            <td><%= potential_customer.last_track_time.to_s(:db) rescue '' %></td>
            <td style="background-color: <%= "##{status_color potential_customer.status}".html_safe %>"></td>
            <td><%= link_to '查看', cms_sale_system_potential_customer_path(potential_customer.id) %></td>
        </tr>
    <% end unless @potential_customers.blank?%>
  </tbody>
</table>
    <%= will_paginate @collection, renderer: FoundationPagination::Rails unless @potential_customers.blank?%>
    <br/>
<div class="row">
  <div class="columns small-3 small-offset-3" style="position:fixed;bottom: 1px;left:-50px">
        <div class="row">
          <div class="columns small-8">
            <%= select_tag 'distribute_sale_id', options_from_collection_for_select(@sales, 'id', 'real_name', @distribute_sale_id), prompt: "选择销售人员" %>
          </div>
          <div class="columns small-4 text-center">
            <%= link_to '分配', "javascript:distribute_submit()", class: "button tiny" %>
          </div>
        </div>
  </div>
  <div class="columns small-3 end" style="position:fixed;bottom: 1px;right: 150px">
        <div class="row">
          <div class="columns small-8">
            <%= select_tag 'reason_of_destroy', options_from_collection_for_select(@reasons_of_destroy, 'first', 'second', @reason_of_destroy), prompt: "选择作废原因" %>
          </div>
          <div class="columns small-4 text-center">
            <%= link_to '作废', "javascript:destroy_submit()", class: 'button tiny' %>
          </div>
        </div>

  </div>
</div>
<% end %>
<br/><br/><br/>

<script type="text/javascript">
    function query_submit(){
        $('#distribution_form').attr('action', '/cms/sale_system/potential_customers/distribute_search');
        $('#distribution_form').attr('method', 'get');
        $('#distribution_form').submit();
    }
    function distribute_submit(){
        $('#distribution_form').attr('action', '/cms/sale_system/potential_customers/distribute');
        $('#distribution_form').submit();
    }
    function destroy_submit(){
        $('#distribution_form').attr('action', '/cms/sale_system/potential_customers/disable_some');
        $('#distribution_form').submit();
    }
    function change_select_channels() {
        register_way = $("#register_way").val();
        $.ajax({
            type: 'POST',
            url: "/cms/sale_system/potential_customers/"+register_way+"/change_select_channels",
            dataType: 'script'
        });
    }
    function change_select_sales() {
        sale_status_code = $("#sale_status").val();
        $.ajax({
            type: 'POST',
            url: "/cms/sale_system/potential_customers/"+sale_status_code+"/change_select_sales",
            dataType: 'script'
        });
    }

</script>

<script language = "javascript">
    document.onmousedown = disableclick;

    function disable_Control_C() {
        var keystroke = String.fromCharCode(event.keyCode).toLowerCase();
        if (event.ctrlKey && keystroke == "c") {
            event.returnValue = false;
        }
    }
    function disable_Right_Click(event) {
        if (event.button == 2) {
            return false;
        }
    }
</script>