<h2 class="text-center">查看活动预约</h2>
<div class="row">
  <div class="columns small-2 text-right">
    <label>孩子姓名:</label>
  </div>
  <div class="columns small-2">
    <label>
      <%= @potential_customer.student_name %>&nbsp;
    </label>
  </div>
  <div class="columns small-2 text-right">
    <label>父亲姓名:</label>
  </div>
  <div class="columns small-2">
    <label>
      <%= @potential_customer.dad_name %>&nbsp;
    </label>
  </div>
  <div class="columns small-2 text-right">
    <label>父亲联系电话:</label>
  </div>
  <div class="columns small-2">
    <label>
      <%= @potential_customer.dad_phone %>&nbsp;
    </label>
  </div>
</div>
<div class="row">

  <div class="columns small-2 small-offset-4 text-right">
    <label>母亲姓名:</label>
  </div>
  <div class="columns small-2 text-left">
    <label>
      <%= @potential_customer.mum_name %>&nbsp;
    </label>
  </div>
  <div class="columns small-2 text-right">
    <label>母亲联系电话:</label>
  </div>
  <div class="columns small-2 text-left">
    <label>
      <%= @potential_customer.mum_phone %>&nbsp;
    </label>
  </div>
</div>
<br/>
<div class="row" style="border-bottom: 1px solid black"></div>
<br/>
<%= form_tag "/cms/sale_system/potential_customers/#{@activity_appointment_id}/change_activity_appointment_session", method: :post do %>
    <%= hidden_field_tag :seller_tracking_info_id, @seller_tracking_info_id %>
<div class="row" id="market_activity_session_select">
  <%= render partial: "market_activity_session_select", locals: {sessions: @sessions, market_activities: @market_activities, market_activity_id: @market_activity_id, market_activity_session_id: @market_activity_session_id} %>
</div>
<div class="row">
  <div class="columns small-2 end">
    <%= submit_tag '修改预约', class: "button tiny" %>
  </div>
</div>
<% end %>

<script language="javascript">
    function change_sessions(){
        market_activity_id = $("#market_activity_id").val();
        $.ajax({
            url: "/cms/sale_system/potential_customers/get_sessions",
            type: "post",
            async: false,
            data: {"market_activity_id": market_activity_id}
        }).done(
                function(result){
                    $("#market_activity_session_select").html(result);
                }
        )
    }
</script>