<h1 class="large-text-center">修改客户信息</h1>

<div id="light" class="white_content" style="width: 80%;left: 10%;">
  <div class="row">
    <div class="columns small-10 text-center">
      <h4></h4>
    </div>
    <div class="columns small-2 text-right">
      <%= link_to '关闭',"#", onclick: 'closeWindow()', id: "button_close_search_referral" %>
    </div>
  </div>
  <div class="row">
    <div class="columns small-4">
      <div class="row">
        <div class="columns small-3">
          <label class="right inline">
            姓名
          </label>
        </div>
        <div class="columns small-9">
          <%= text_field_tag :search_name %>
        </div>
      </div>
    </div>
    <div class="columns small-4">
      <div class="row">
        <div class="columns small-3">
          <label class="right inline">
            电话
          </label>
        </div>
        <div class="columns small-9">
          <%= text_field_tag :search_phone %>
        </div>
      </div>
    </div>
    <div class="columns small-4">
      <div class="row">
        <div class="columns small-4">
          <label class="left"><%= link_to "查询", "javascript:start_search_referral()", class: "button tiny", id: "search_referral" %></label>
        </div>
        <div class="columns small-8">
          <label class="left inline">
            转介绍姓名和电话必须二选一
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12" id="search_referral_result">

    </div>
  </div>
</div>
<div id="fade" class="black_overlay"></div>



<%=form_for([:cms, @sale_system_potential_customer]) do |f| %>
    <%= label_title_tag("数据来源").html_safe %>
    <div class="row">
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="register_way" class="right"><span class="required">*</span>登记方式:</label>
          </div>
          <div class="small-9 columns">
            <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.register_way %></label>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="channel" class="right"><span class="required">*</span>市场来源:</label>
          </div>
          <div class="small-9 columns" id="channel_changed_by_register_way">
            <label class="inline"><span>&nbsp;</span><%= channel_label(@sale_system_potential_customer.channel) %></label>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row" id="referral_info_div" style="<%= @sale_system_potential_customer.register_way == "Refferal" ? "" : "display: none;" %>">
          <div class="small-3 columns">
            <label for="refer_info" class="right inline">转介绍信息:</label>
          </div>

          <% if @sale_system_potential_customer.can_be_edit? 'referral_id' %>

          <%= f.hidden_field :referral_id %>
          <div class="small-9 columns text-left inline">
            <label class="inline" id="refer_info_label">
              <% if @sale_system_potential_customer.referral.blank? %>
                  <a href="#" onclick="openWindow()">选择介绍人信息</a>
              <% else %>
                  <a href="#" onclick="openWindow()"><%= @sale_system_potential_customer.referral.student_name rescue '' %></a>
              <% end %>
            </label>
          </div>

          <% else %>
              <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.referral.student_name %></label>
          <% end %>
        </div>
      </div>
    </div>


    <%= label_title_tag("客户资料").html_safe %>
    <div class="row">
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="student_name" class="right"><span class="required">*</span>孩子姓名:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'student_name' %>
                <%= f.text_field :student_name %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.student_name %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label class="right inline">孩子性别:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'sex' %>
                <label class="inline">
                  <%= collection_radio_buttons(:sale_system_potential_customer, :sex,::SaleSystem::PotentialCustomer::SEX, :first, :last) %>
                </label>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= sex_label(@sale_system_potential_customer.sex) %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="birthday" class="right"><span class="required">*</span>出生年月:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'birthday' %>
                <%= f.date_field :birthday, onchange: "change_age()" %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.birthday %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="age" class="right"><span class="required">*</span>孩子年龄:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'age' %>
                <%= f.text_field :age %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.age %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns end">
        <div class="row">
          <div class="small-3 columns">
            <label class="right inline">学校/幼儿园:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'school_name' %>
                <%= f.text_field :school_name %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.school_name %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="mum_name" class="right inline">母亲姓名:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'mum_name' %>
                <%= f.text_field :mum_name %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.mum_name %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="dad_name" class="right inline">父亲姓名:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'dad_name' %>
                <%= f.text_field :dad_name %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.dad_name %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="other_person" class="right inline">紧急联系人:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'other_person' %>
                <%= f.text_field :other_person %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.other_person %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="mum_phone" class="right"><span class="required">*</span>母亲电话:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'mum_phone' %>
                <%= f.text_field :mum_phone %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.mum_phone %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="dad_phone" class="right"><span class="required">*</span>父亲电话:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'dad_phone' %>
                <%= f.text_field :dad_phone %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.dad_phone %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="other_phone" class="right"><span class="required">*</span>紧急电话:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'other_phone' %>
                <%= f.text_field :other_phone %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.other_phone %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-4">
        <div class="row">
          <div class="small-3 columns">
            <label class="right"><span class="required">*</span>固定电话:</label>
          </div>
          <div class="small-9 columns">
            <div class="row">
              <div class="columns small-3">
                <% if @sale_system_potential_customer.can_be_edit? 'area_code' %>
                    <%= f.text_field :area_code %>
                <% else %>
                    <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.area_code %></label>
                <% end %>
              </div>
              <div class="columns small-1"><label class="inline">－</label></div>
              <div class="columns small-8">
                <% if @sale_system_potential_customer.can_be_edit? 'fixed_phone' %>
                    <%= f.text_field :fixed_phone %>
                <% else %>
                    <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.fixed_phone %></label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns small-4">
        <div class="row">
          <div class="small-3 columns">
            <label class="right inline">家庭住址:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'address' %>
                <%= f.text_field :address %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.address %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns small-4">
        <div class="row">
          <div class="columns small-3">
            <label class="right inline">电子邮箱:</label>
          </div>
          <div class="columns small-9">
            <% if @sale_system_potential_customer.can_be_edit? 'email' %>
                <%= f.text_field :email %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.email %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= label_title_tag("补充资料").html_safe %>
    <div class="row">
      <div class="columns small-4">
        <div class="row">
          <div class="columns small-3">
            <label class="inline right">决策人:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'decision_maker' %>
                <%= f.select(:decision_maker, ::SaleSystem::PotentialCustomer::DECISION_MAKER.invert, :prompt => "请选择") %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= decision_maker_label(@sale_system_potential_customer.decision_maker) %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns small-4">
        <div class="row">
          <div class="columns small-3">
            <label class="inline right">距离:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'distance' %>
                <%= f.select(:distance, ::SaleSystem::PotentialCustomer::DISTANCE.invert, prompt: "请选择距离") %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.distance %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns small-4">
        <div class="row">
          <div class="columns small-3">
            <label class="inline right">交通方式:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'traffic' %>
                <%= f.select(:traffic, ::SaleSystem::PotentialCustomer::TRAFFIC.invert, :prompt => "请选择") %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.traffic %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="columns small-4">
        <div class="row">
          <div class="small-3 columns">
            <label for="caregivers" class="right inline">接送人:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'caregivers' %>
                <%= collection_radio_buttons(:sale_system_potential_customer, :caregivers,::SaleSystem::PotentialCustomer::CAREGIVERS, :first, :last) %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.caregivers %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns small-4">
        <div class="row">
          <div class="small-3 columns">
            <label class="right inline">孩子性格:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'character' %>
                <%= f.select(:character, ::SaleSystem::PotentialCustomer::CHARACTER.invert, :prompt => "请选择") %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.character %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns small-4">
        <div class="row">
          <div class="small-3 columns">
            <label class="right inline">孩子适应力:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'adaptability' %>
                <%= f.select(:adaptability, ::SaleSystem::PotentialCustomer::ADAPTABILITY.invert, :prompt => "请选择") %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.adaptability %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns small-4">
        <div class="row">
          <div class="small-3 columns">
            <label for="customer[free_time]" class="right inline">课外时间:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'free_time' %>
                <%= f.text_field :free_time %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.free_time %></label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns small-4 end">
        <div class="row">
          <div class="small-3 columns">
            <label class="right inline">兴趣班:</label>
          </div>
          <div class="small-9 columns">
            <% if @sale_system_potential_customer.can_be_edit? 'interest_group' %>
                <%= f.select(:interest_group, ::SaleSystem::PotentialCustomer::INTEREST_GROUP.invert, :prompt => "请选择") %>
            <% else %>
                <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.interest_group %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-4">
        <div class="row">
          <div class="small-3 columns">
            <label for="customer[education_awareness]" class="right inline">消费理念:</label>
          </div>
          <div class="small-9 columns">
            <label class="inline">
              <% if @sale_system_potential_customer.can_be_edit? 'education_awareness' %>
                  <%= collection_radio_buttons(:sale_system_potential_customer, :education_awareness,::SaleSystem::PotentialCustomer::EDUCATION_AWARENESS, :first, :last) %>
              <% else %>
                  <span>&nbsp;</span><%= @sale_system_potential_customer.education_awareness %>
              <% end %>
            </label>
          </div>
        </div>
      </div>
      <div class="columns small-4 end">
        <div class="row">
          <div class="small-3 columns">
            <label for="customer[spending_power]" class="right inline">支付能力:</label>
          </div>
          <div class="small-9 columns">
            <label class="inline">
              <% if @sale_system_potential_customer.can_be_edit? 'spending_power' %>
                  <%= collection_radio_buttons(:sale_system_potential_customer, :spending_power,::SaleSystem::PotentialCustomer::SPENDING_POWER, :first, :last) %>
              <% else %>
                  <span>&nbsp;</span><%= @sale_system_potential_customer.spending_power %>
              <% end %>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-1">
        <label class="right right">特殊情况:</label>
      </div>
      <div class="columns small-11">
        <% if @sale_system_potential_customer.can_be_edit? 'notes' %>
            <%= f.text_area :notes %>
        <% else %>
            <label class="inline"><span>&nbsp;</span><%= @sale_system_potential_customer.notes %></label>
        <% end %>
      </div>
    </div>
    <div class="row text-center">
      <%=f.submit "添加客户信息", class: "button" %>
    </div>
<% end %>

<script language="javascript">
    function start_search_referral(){
        search_name = $("#search_name").val();
        search_phone = $("#search_phone").val();
        if(search_name == "" && search_phone == ""){
            alert("姓名和电话至少填写一个。")
        } else {
            $.ajax({
                url: "/cms/sale_system/potential_customers/search",
                type: "post",
                async: false,
                data: {"name": search_name, "phone": search_phone}
            }).done(
                    function (result) {
                        $("#search_referral_result").html(result);
                    }
            );
        }
    }

    function change_channel(register_way_value){
        register_way = $("#sale_system_potential_customer_register_way").val();
        if (register_way == "Refferal") {
            $("#referral_info_div").show();
            $("#refer_info_label").html('<a href="#" onclick="openWindow()">选择介绍人信息</a>');
        }
        else {
            $("#referral_info_div").hide();
            $("#sale_system_potential_customer_referral_id").val('');
            $("#refer_info_label").html('');
        }
        $.ajax({
            url: "/cms/sale_system/potential_customers/change_register_way",
            type: "post",
            async: false,
            data: {"register_way": register_way }
        }).done(
                function(result) {
                    $("#channel_changed_by_register_way").html(result);
                }
        );
    }

    function change_age(){
        var birthday = new Date($("#sale_system_potential_customer_birthday").val());
        var birthday_date = new Date(birthday);
        var now = new Date();
        var age = now.getFullYear() - birthday_date.getFullYear();
        $("#sale_system_potential_customer_age").val(age);
    }
</script>