<div class="row" style="background-color: rgba(0, 0, 0, 0.16);height: 39px;">
  <div class="columns large-2 text-left" >
    <h4>客户信息</h4>
  </div>
  <div class="columns large-10 text-right" style="margin-bottom: 0px;">
    <%= link_to '补充修改信息', edit_cms_sale_system_potential_customer_path(@sale_system_potential_customer.id), class: 'button tiny', target: '_blank' %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        登记方式:
      </div>
      <div class="large-6 columns end">
        <%=@sale_system_potential_customer.register_way%>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        市场来源:
      </div>
      <div class="large-6 columns end">
        <%=channel_label(@sale_system_potential_customer.channel)%>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        转介绍信息:
      </div>
      <div class="large-6 columns end">
        <%=@sale_system_potential_customer.referral.student_name rescue ''%>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        孩子姓名:
      </div>
      <div class="large-6 columns end">
        <%=@sale_system_potential_customer.student_name%>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        孩子性别:
      </div>
      <div class="large-6 columns end">
        <%= sex_label(@sale_system_potential_customer.sex) %>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        出生年月:
      </div>
      <div class="large-6 columns end">
        <%=@sale_system_potential_customer.birthday%>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        母亲姓名:
      </div>
      <div class="large-6 columns end">
        <%=@sale_system_potential_customer.mum_name%>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        父亲姓名:
      </div>
      <div class="large-6 columns end">
        <%=@sale_system_potential_customer.dad_name%>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        紧急联系人:
      </div>
      <div class="large-6 columns end">
        <%=@sale_system_potential_customer.other_person%>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        母亲联系电话:
      </div>
      <div class="large-6 columns end">
        <%= @sale_system_potential_customer.mum_phone %>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        父亲联系电话:
      </div>
      <div class="large-6 columns end">
        <%= @sale_system_potential_customer.dad_phone %>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        紧急联系电话:
      </div>
      <div class="large-6 columns end">
        <%= @sale_system_potential_customer.other_phone %>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        决策人:
      </div>
      <div class="large-6 columns end">
        <%= decision_maker_label(@sale_system_potential_customer.decision_maker) %>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        消费理念:
      </div>
      <div class="large-6 columns end">
        <%= education_awareness_label(@sale_system_potential_customer.education_awareness) %>
      </div>
    </div>

  </div>
  <div class="large-4 columns">
    <div class="row" style="margin-bottom: 10px">
      <div class="large-5 columns">
        支付能力:
      </div>
      <div class="large-6 columns end">
        <%= spending_power_label(@sale_system_potential_customer.spending_power) %>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<div class="row" style="background-color: rgba(0, 0, 0, 0.16);height: 39px;">
  <div class="columns large-2 text-left end" >
    <h4>跟踪记录</h4>
  </div>
</div>
<table>
  <thead>
  <tr>
    <th width="50">次数</th><th width="150" class="text-center">时间</th>
    <th width="110" class="text-center">方式</th><th class="text-center">备注</th>
    <th width="50">渠道</th><th width="65">阶段</th><th width="65">状态</th>
    <th width="160" class="text-center">到访时间</th>
    <th width="80" class="text-center">活动操作</th>
  </tr>
  </thead>
  <tbody>
  <%#=render :partial => "seller_tracking_info", :collection => @seller_tracking_infos[0,@seller_tracking_infos.size] %>
  <% @seller_tracking_infos.each_with_index do |seller_tracking_info, index| %>
      <tr>
        <td><%=index+1%></td>
        <td><%=seller_tracking_info.created_at.chinese_format%></td>
        <td><%=::SaleSystem::SellerTrackingInfo::TRACETYPE[seller_tracking_info.trace_type]%></td>
        <td><%=seller_tracking_info.notes%></td>
        <td><%=::SaleSystem::SellerTrackingInfo::COMMUNICATION[seller_tracking_info.communication]%></td>
        <td><%=::SaleSystem::PotentialCustomer::STATUS[seller_tracking_info.new_status] rescue "" %></td>
        <td>
          <% aai = seller_tracking_info.activity_appointment_info %>
          <%= aai.blank? ? '跟踪' : (aai.is_checkin? ? '已到访' : '已预约') %>
        </td>
        <td>
          <%= aai.blank? ? '' :(aai.is_checkin? ? aai.checkin_time.to_s(:db) : '') %>
        </td>
        <td>
          <% unless seller_tracking_info.activity_appointment_info.blank? %>
              <%= link_to '查看', "javascript:show_appointment(#{seller_tracking_info.id})" %>
              <%= link_to '修改', "javascript:edit_appointment(#{seller_tracking_info.id})" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<br>
<div class="row" style="background-color: rgba(0, 0, 0, 0.16);height: 39px;">
  <div class="columns large-2 text-left end" >
    <h4>添加跟踪记录</h4>
  </div>
</div>
<%#=render :partial => "tracking_form"%>

<br/>
<%= form_tag add_seller_tracking_info_cms_sale_system_potential_customer_path(@sale_system_potential_customer.id), method: :post, id: "add_seller_tracking_info_form" do %>
    <div class="row">
      <div class="columns small-1">
        <label><span class="required">*</span> 跟踪方式:</label>
      </div>
      <div class="columns small-3">
        <%= radio_button_tag :trace_type, 'zd', @trace_type=='zd'%><%= ::SaleSystem::SellerTrackingInfo::TRACETYPE['zd'] %>
        <%= radio_button_tag :trace_type, 'bd', @trace_type=='bd'%><%= ::SaleSystem::SellerTrackingInfo::TRACETYPE['bd'] %>
      </div>
      <div class="columns small-1">
        <label><span class="required">*</span>跟踪渠道:</label>
      </div>
      <div class="columns small-3">
        <%= select_tag :communication, options_from_collection_for_select(::SaleSystem::SellerTrackingInfo::COMMUNICATION, 'first', 'second', @communication), prompt: '请选择' %>
      </div>
      <div class="columns small-1">
        <label><span class="required">*</span>客户类型:</label>
      </div>
      <div class="columns small-3">
        <%= select_tag :status, options_from_collection_for_select(::SaleSystem::PotentialCustomer::STATUS.clone.delete_if{|x| x==5 || x==6 || x==7 || x==8 }, 'first', 'second', @status), prompt: '请选择' %>
      </div>
    </div>
    <div class="row">
      <div class="columns small-1">
        <label><span class="required">*</span>跟踪内容:</label>
      </div>
      <div class="columns small-11">
        <%= text_area_tag :notes, @notes %>
      </div>
    </div>
    <div class="row">
      <div class="columns small-1">
        <label><span class="required">*</span>下次回访:</label>
      </div>
      <div class="columns small-3">
        <%= date_field_tag :next_track_time, @next_track_time %>
      </div>
      <div class="columns small-1">
        <label><span class="required">*</span>回访提示:</label>
      </div>
      <div class="columns small-3">
        <%= text_field_tag :next_step_note, @next_step_note %>
      </div>
      <div class="columns small-1">
        <label>跟踪阶段:</label>
      </div>
      <div class="columns small-3">
        <%= select_tag :tracking_classify, options_from_collection_for_select(tracking_classify_hash, 'first', 'second', @tracking_classify), onchange: "change_tracking_classify()" %>
      </div>
    </div>
    <div class="row" id="market_activity_session_select">

    </div>

    <div class="row text-center">
      <%= link_to '添加记录', "javascript:validate_and_submit()" ,class: 'button tiny' %>
      <%= link_to '名单作废', '#', class: 'button tiny', onclick: "openWindow()" %>
      <%= link_to '补充修改信息', edit_cms_sale_system_potential_customer_path(@sale_system_potential_customer.id), class: 'button tiny', target: '_blank' %>
    </div>
<% end %>

<script>
    function change_sessions(){
        classify = $("#tracking_classify").val();
        market_activity_id = $("#market_activity_id").val();
        if(classify=="2"){
            $.ajax({
                url: "/cms/sale_system/potential_customers/get_sessions_appointment",
                type: "post",
                async: false,
                data: { "market_activity_id": market_activity_id, "potential_customer_id": '<%= @sale_system_potential_customer.id %>' }
            }).done(
                    function(result){
                        $("#market_activity_session_select").html(result);
                    }
            )
        } else if(classify == "1"){
            $.ajax({
                url: "/cms/sale_system/potential_customers/get_sessions_appointment",
                type: "post",
                async: false,
                data: { "market_activity_id": market_activity_id }
            }).done(
                    function(result){
                        $("#market_activity_session_select").html(result);
                    }
            )
        }
    }
    function change_tracking_classify(){
        tracking_classify = $("#tracking_classify").val();
        if(tracking_classify=='0'){
            $("#market_activity_session_select").html("");
        } else if(tracking_classify=='1'){
            $.ajax({
                url: "/cms/sale_system/potential_customers/get_sessions",
                type: "post",
                async: false,
                data: {}
            }).done(
                    function(result){
                        $("#market_activity_session_select").html(result);
                    }
            )
        } else if(tracking_classify=='2'){
            $.ajax({
                url: "/cms/sale_system/potential_customers/get_sessions",
                type: "post",
                async: false,
                data: {"potential_customer_id": '<%= @sale_system_potential_customer.id %>', "only_appointment": '1'}
            }).done(
                    function(result){
                        $("#market_activity_session_select").html(result);
                    }
            )
        }
    }

    function show_appointment(id){
        window.open('/cms/sale_system/potential_customers/' + id + '/show_activity_appointment' ,'' ,'dialogHeight=200px; dialogWidth=300px; center=yes; resizable=yes; status=yes');
    }
    function edit_appointment(id){
        window.open('/cms/sale_system/potential_customers/' + id + '/edit_activity_appointment' ,'' ,'dialogHeight=400px; dialogWidth=600px; center=yes; resizable=yes; status=yes');
    }

    function validate_and_submit(){
        if( $("#communication").val() == "" ) {
            alert("请选择跟踪渠道");return;
        } else if( $("#status").val() == "" ) {
            alert("请选择客户类型");return;
        } else if( $("#notes").val() == "" ) {
            alert("请填写跟踪内容");return;
        } else if( $("#next_track_time").val() == "" ) {
            alert("请选择下次回访时间");return;
        } else if( $("#next_step_note").val() == "" ) {
            alert("请填写回访提示");return;
        } else if( $("#market_activity_session_id") && $("#market_activity_session_id").val() == "" ) {
            tracking_classify_flag = $("#tracking_classify").val();
            if( tracking_classify_flag == "1" ) {
                alert("跟踪阶段选择了[预约活动]，所以请选择活动场次");return;
            } else if( tracking_classify_flag == "2" ) {
                alert("跟踪阶段选择了[到访]，所以请选择活动场次");return;
            }
        }
        $("#add_seller_tracking_info_form").submit();
    }
    function destroy_validate_and_submit(){
        if( $("#obsolete_reason").val() == "" ){
            alert("请选择作废原因");return;
        } else if( $("#destroy_note").val() == "" ){
            alert("请填写备注");return;
        }
        $("#add_seller_tracking_info_destroy_form").submit();
    }
</script>


<!--# Parameters: {"utf8"=>"✓", "authenticity_token"=>"4Y4SzbXIMkICSfpxCMPgB7HJSuNcjz+X73IEbaTd2XY=", "trace_type"=>"bd", "communication"=>"tel", "status"=>"1",-->
<!--# "next_track_time"=>"2015-04-22", "next_step_note"=>"dd", "tracking_classify"=>"1", "market_activity_id"=>"17", "market_activity_session_id"=>"19", "notes"=>"dd", "commit"=>"添加记录", "id"=>"31"}-->
<div id="light" class="white_content">
  <%= form_tag add_seller_tracking_info_cms_sale_system_potential_customer_path(@sale_system_potential_customer.id), method: :post, id: "add_seller_tracking_info_destroy_form" do %>
      <%= hidden_field_tag :trace_type, 'bd' %>
      <%= hidden_field_tag :status, "8" %>
      <%= hidden_field_tag :tracking_classify, "0" %>
      <%= hidden_field_tag :communication, "tel" %>
      <%= hidden_field_tag :next_step_note, "已作废" %>
      <div class="row">
        <div class="columns small-10 text-center">
          <h4>名单作废</h4>
        </div>
        <div class="columns small-2 text-right">
          <%= link_to '关闭',"javascript:closeWindow()" %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="columns small-2">
          <label><span class="required">*</span>作废原因:</label>
        </div>
        <div class="columns small-10">
          <%= select_tag :obsolete_reason, options_from_collection_for_select(@reasons_of_destroy, 'first', 'second', @reason_of_destroy), prompt: "请选择" %>
        </div>
      </div>
      <div class="row">
        <div class="columns small-2">
          <label><span class="required">*</span>备注:</label>
        </div>
        <div class="columns small-10">
          <%= text_area_tag :notes, @notes, prompt: "备注原因", id: "destroy_note" %>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12 text-center">
          <%= link_to '确认作废', "javascript:destroy_validate_and_submit()", class: 'button tiny' %>
        </div>
      </div>
        <% end %>   
</div>
<div id="fade" class="black_overlay"></div>