<div class="row">
  <div class="columns small-12 text-center">
    <h4>预约记录</h4>
  </div>
</div>
<div class="row">
  <div class="columns small-2 text-right">
    预约时间
  </div>
  <div class="columns small-2">
    <%= @activity_appointment_info.appoint_time.blank? ? '' : @activity_appointment_info.appoint_time.to_s(:db) %>
  </div>
  <div class="columns small-2 text-right">
    预约课程
  </div>
  <div class="columns small-2">
    <% unless @activity_appointment_info.blank? || @activity_appointment_info.class_hour.blank? || @activity_appointment_info.class_hour.lesson_plan.blank? %>
        <%= @activity_appointment_info.class_hour.lesson_plan.name %>
    <% end %>
  </div>
  <div class="columns small-2 text-right">
    预约教室
  </div>
  <div class="columns small-2">
    <% unless @activity_appointment_info.blank? || @activity_appointment_info.class_hour.blank? || @activity_appointment_info.class_hour.class_room.blank? %>
    <%= @activity_appointment_info.class_hour.class_room.name %>
    <% end %>
  </div>
</div>
<br/>
<%= form_tag cms_sale_system_activity_appointment_info_path(@activity_appointment_info.id) ,method: :patch do %>
    <%= content_for_two_ten( (check_box_tag('is_checkin', 1, @is_checkin )).html_safe, "是否到访", false).html_safe %>
    <div class="row">
      <div class="columns small-2 text-right">
        <label>到访时间</label>
      </div>
      <div class="columns small-2">
        <%= date_field_tag( 'checkin_time', @appoint_date ) %>
      </div>
      <div class="columns small-2 end">
        <%= time_field_tag( 'clock', @appoint_time ) %>
      </div>
    </div>
    <%= content_for_two_ten("备注", text_area_tag( 'notes', @notes), false).html_safe %>
    <%= ddc_submit_tag().html_safe %>
<% end %>