<div class="row">
  <div class="columns small-12 text-center">
    <h4>跟踪预约</h4>
  </div>
</div>
<div class="row">
  <div class="columns small-2 text-right">
    孩子姓名
  </div>
  <div class="columns small-2">
    <%= @potential_customer.blank? ? '' : @potential_customer.student_name %>
  </div>
  <div class="columns small-2 text-right">
    家长姓名
  </div>
  <div class="columns small-2">
    <%= (@potential_customer.blank? ? '' : (@potential_customer.dad_name.blank? ? '' : @potential_customer.dad_name) + '  ' + (@potential_customer.mum_name.blank? ? '' : @potential_customer.mum_name)) %>
  </div>
  <div class="columns small-2 text-right">
    联系电话
  </div>
  <div class="columns small-2">
    <%= @potential_customer.blank? ? '' : ((@potential_customer.dad_phone.blank? ? '' : @potential_customer.dad_phone) + ' | ' + (@potential_customer.mum_phone.blank? ? '' : @potential_customer.mum_phone)) %>
  </div>
</div>
<br/>
<%= form_tag cms_sale_system_activity_appointment_infos_path, method: :post do %>
    <%= hidden_field_tag 'potential_customer_id', @potential_customer.blank? ? '' : @potential_customer.id %>
    <%= hidden_field_tag 'seller_tracking_info_id', @seller_tracking_info.id %>
    <%= content_for_two_two("预约活动", select_tag( 'market_activity_id', options_from_collection_for_select(@valid_market_activities, 'id', 'name', (@select_market_activity.blank? ? '': @select_market_activity.id)) ), true).html_safe %>
    <div class="row">
      <div class="columns small-2 text-right">
        预约时间
      </div>
      <div class="columns small-2">
        <%= date_field_tag('appoint_time',@activity_appointment_info.appoint_time.blank? ? Time.now.to_date+3.days : @activity_appointment_info.appoint_time.to_date, onchange: "change_class_hours()") %>
      </div>
      <div class="columns small-2 end">
        <%= time_field_tag('clock',@activity_appointment_info.appoint_time.blank? ? Time.now.to_s(:time) : @activity_appointment_info.appoint_time.to_s(:time) ) %>
      </div>
    </div>
    <%= content_for_two_two(check_box_tag( 'has_class_hour', '0', false,onclick: "show_hide_class_hour()"), '是否上课', false).html_safe %>
    <div class="row">
        <div id="class_hour_select_box" class="columns small-12">

        </div>
    </div>
    <%= submit_tag '提交', class: 'button tiny', style: "position: fixed;right:325px;top:200px" %>
<% end %>


<script language="javascript">
    function show_hide_class_hour(){
        if( $("#has_class_hour").val() == 0) {
            $("#has_class_hour").val('1');
            change_class_hours();
        } else {
            $("#has_class_hour").val('0');
            $("#class_hour_select_box").html('');
        }
    }

    function change_class_hours() {
        changed_date = $("#appoint_time").val();
        $.ajax({
            type: 'POST',
            url: "/cms/sale_system/activity_appointment_infos/"+changed_date+"/change_class_hours_select",
            dataType: 'script'
        });
    }
</script>