<div class="banner" style="position: relative">
  <%= image_tag(("/uploads/images/#{@product.detail_image}" unless @product.detail_image.blank?), :width => "100%") %>
  <div style="position: absolute; left: 15px; bottom: 8px; color: #FFFFFF; font-weight: normal;">
    <p style="font-size: 17px; line-height: 24px; font-weight: bold;"><%= @product.adds_words %></p>
    <p style="font-size: 13px;">已有<span style="font-size: 15px;"><%= @product.sale_number %></span>人参与</p>
  </div>
  <!--<div style="background-color: RGBA(0,0,0,0.6); padding-left: 15px; padding-right: 20px; height: 30px; position: absolute; right: 0px; bottom: 20px; color: #fff; font-size: 19px;">
    <span style="font-size: 14px;">￥</span><%= @product.price %>
  </div>-->
</div>
<%
   session_content = get_session_content params[:session_content_id]
   error_message = get_notice_str true
%>

<div class="form">
  <%= form_tag('/wz/order_system/products/create_appointment', method: 'post') do %>

      <ul style="">
        <li>
          <label>姓名:</label><%= text_field_tag :name, get_show_value('', v3: '', v2: '', v1: session_content[:name]), class: "form_ipt", placeholder: "姓名" %>
        </li>

        <li style="">
          <label>手机:</label><%= text_field_tag :phone, get_show_value('', v1: session_content[:phone], v2:( '' || session[:phone] )) , class: "form_ipt", placeholder: "请输入11位手机号" %>
        </li>

        <li style="">
          <label>城市:</label>
          <%= select_tag :city_chinese, options_for_select(["安庆", "鞍山", "安阳", "百色", "保定", "宝鸡", "包头", "巴中", "北海", "北京", "蚌埠", "滨州", "沧州", "长春", "常德", "长沙", "长治", "常州", "承德", "成都", "赤峰", "重庆", "楚雄", "大理", "大连", "大庆", "大同", "达州", "德阳", "德州", "东莞", "东营", "鄂尔多斯", "恩施", "鄂州", "佛山", "抚顺", "阜阳", "福州", "赣州", "广安", "广元", "广州", "桂林", "贵阳", "哈尔滨", "邯郸", "杭州", "合肥", "衡水", "菏泽", "红河", "淮安", "黄冈", "黄石", "呼和浩特", "惠州", "湖州", "佳木斯", "吉安", "江门", "焦作", "嘉兴", "吉林", "济南", "景德镇", "荆门", "荆州", "金华", "济宁", "晋中", "锦州", "九江", "抚州", "开封", "昆明", "廊坊", "兰州", "乐山", "连云港", "辽阳", "临汾", "临沂", "丽水", "六盘水", "柳州", "龙岩", "六安", "漯河", "洛阳", "泸州", "马鞍山", "眉山", "绵阳", "牡丹江", "南昌", "南充", "南京", "南宁", "南通", "南阳", "内江", "宁波", "宁德", "攀枝花", "平顶山", "莆田", "青岛", "秦皇岛", "钦州", "齐齐哈尔", "泉州", "曲靖", "衢州", "日照", "三明", "上海", "商丘", "上饶", "汕头", "绍兴", "沈阳", "深圳", "石家庄", "十堰", "四平", "松原", "遂宁", "随州", "宿迁", "苏州", "宿州", "泰安", "太原", "泰州", "唐山", "天津", "铁岭", "通辽", "铜陵", "台州", "潍坊", "威海", "温州", "武汉", "芜湖", "乌鲁木齐", "无锡", "厦门", "西安", "襄阳", "湘潭", "咸宁", "咸阳", "孝感", "邢台", "西宁", "新乡", "信阳", "许昌", "徐州", "雅安", "延边", "盐城", "阳泉", "扬州", "烟台", "宜宾", "宜昌", "宜春", "银川", "营口", "益阳", "岳阳", "玉林", "运城", "枣庄", "张家口", "漳州", "肇庆", "郑州", "镇江", "中山", "珠海", "驻马店", "株洲", "淄博", "自贡", "资阳", "遵义"] , get_show_value('上海', v1: session_content[:city_chinese], v2: session[:city_chinese])), class: "form_ipt" %>
        </li>

        <li style="border-bottom: none">
          <label>车型:</label><%= text_field_tag :brand, get_show_value('', v1: session_content[:brand], v2: ''), class: "form_ipt", placeholder: "请输入品牌型号" %>
        </li>
      </ul>

      <% unless error_message.blank? %>
          <div class="error" style="padding-left: 30px; margin-bottom:1px; padding-top: 15px;"><%= error_message %></div>
      <% end %>

      <div style="padding-left: 30px; height: 35px; margin-bottom: 5px; line-height: 35px; ">
        <span class="description">为了给您提供更好的服务，请正确填写。</span>
        </div>
      <div class="tc submit">
        <%= submit_tag "确定" %>
      </div>
      <div>
        <%= hidden_field_tag :product_id, @product.id %>
      </div>
  <% end %>
</div>



<%descriptions = eval(@product.description) rescue nil%>
<% unless descriptions.blank? %>
    <div class="intro intro1">
      <h4><%= unless @product.name.blank? then "#{@product.name}服务说明：" end %></h4>
      <p>
        <% (descriptions||[]).each do |description|
          next if description.blank?
        %>
            <%= description %><br>
        <% end %>
      </p>
    </div>
<% end %>

<% if @product.comments.length > 0%>
<div class="comments_block">
    <div class="split-line">
      用户反馈
    </div>
  <div class="comments">
    <%@product.comments.each do |comment|%>
    <div class="comment">
      <div class="title">
        <img src="/images/<%= if comment.sex == 1 then 'nantouxiang.png' else 'nvtouxiang.jpg' end %>"/>
        &nbsp;&nbsp;<%= comment.city %>用户：<%= comment.phone %>
      </div>
      <div class="content"><%= comment.content %></div>
    </div>
    <%end%>
  </div>
</div>
    <div style="height: 20px">

    </div>
<%end%>