<div class="banner">
    <%= image_tag "/uploads/images/#{@image_url}" unless @image_url.blank?%>
</div>
<div class="form">
<%= form_tag('/wz/order_system/products/create_appointment',method: 'post') do %>
    <ul>
      <li><label>车牌号</label><%= text_field_tag :car_number,@car_number ,class:"ipt",placeholder: "浙J 61E27"%></li>
      <li><label>手机号</label><%= text_field_tag :phone,@phone ,class:"ipt",placeholder: "13888889999"%></li>
    </ul>
    <% unless @error_message.blank? %>
       <div class="error"><%= @error_message %></div>
    <% end %>
    <div class="tc submit">
       <%= submit_tag "免费预约"%>
    </div>
    <div>
        <%= hidden_field_tag :product_id, @product_id %>
    </div>
<% end %>
</div>
<div class="intro intro1">
  <h4><%= "#{@product_name}服务说明" %></h4>
  <% i = 1 %>
  <p><% @descriptions||[].each do |description| %>
        <%= i %>、<%= description %><br>
        <% i = i + 1 %>
    <% end %>
  </p>
</div>