<h1>这是保险比价界面</h1>
<%= form_tag(search_price_order_system_products_path,method: 'post') do %>
    <div class="row">
      <label>车价</label>
      <%= text_field_tag :car_price,@car_price %><span>万元</span>
    </div>
    <div class="row">
      <label>所在地</label>
      <%= select_tag :city, options_from_collection_for_select( @cities, 'to_s','to_s',@city) %>
    </div>
    <div class="row">
      <label>车牌号</label>
      <%= text_field_tag :car_number,@car_number %>
    </div>
    <div class="row">
      <label>手机号</label>
      <%= text_field_tag :phone,@phone %>
    </div>
    <div><%= hidden_field_tag :product_id,@product_id %></div>
    <div class="row">
      <%= submit_tag "立即比价"%>
    </div>
<% end %>