<h1>这是保险比价界面</h1>
<%= form_tag(search_price_order_system_products_path, id: 'compare_price_form', method: 'post') do %>
    <div class="row">
      <label>车价</label>
      <%= text_field_tag :car_price,@car_price %><span>万元</span>
    </div>
    <div class="row">
      <label>所在地</label>
      <%= text_field_tag :city,@city %>
      <%= link_to '>', "javascript:get_city_name()" %>
    </div>
    <div class="row">
      <label>车牌号</label>
      <%= text_field_tag :car_number,@car_number %>
    </div>
    <div class="row">
      <label>手机号</label>
      <%= text_field_tag :phone,@phone %>
    </div>
    <div><%= hidden_field_tag :product_id,@product_id %></div>
    <% unless @error_message.blank? %>
        <p style="color:#ff0000"><%= @error_message %></p>
    <% end %>
    <div class="row">
      <%= link_to "立即比价", "javascript:compare_price()"%>
    </div>
<% end %>
<script language="javascript">
    function get_city_name(){
        $("#compare_price_form").attr('action', '/order_system/products/get_city_name');
        $("#compare_price_form").submit();
    }
    function compare_price(){
        $("#compare_price_form").attr('action', '<%= search_price_order_system_products_path %>');
        $("#compare_price_form").submit();
    }
</script>