<h1>这是预约界面</h1>
<%= image_tag "/uploads/images/#{@image_url}" unless @image_url.blank? %>
<%= form_tag(create_appointment_order_system_product_path,method: 'post') do %>
    <div class="row">
      <label>车牌号</label>
      <%= text_field_tag :car_number,@car_number %>
    </div>
    <div class="row">
      <label>手机号</label>
      <%= text_field_tag :phone,@phone %>
    </div>
    <% unless @error_message.blank? %>
    <p style="color:#ff0000"><%= @error_message %></p>
    <% end %>
    <div class="row">
      <%= submit_tag "免费预约"%>
    </div>
    <p><%= "#{@product_name}说明" %></p>
    <% @descriptions.each do |description| %>
        <p><%= description %></p>
    <% end %>
    <div><%= hidden_field_tag :product_id, @product_id %></div>
<% end %>